.case-wrapper {
  margin-top: 25px;
  margin-bottom: 40px;
  &.hero {
    background: #f2f5fc;
    .case-body {
      padding-right: 4rem;
      margin-top: 25px;
      width: 100%;
    }
  }
  .case-body {
    margin-top: 25px;
    margin-bottom: 50px;
    width: 100%;
    &.odd {
      padding-bottom: 40px;
      padding-top: 40px;
    }
    &.even {
      padding-top: 40px;
      padding-bottom: 40px;
      background: #f2f5fc;
    }
    .case-title {
      text-align: center;
      h2 {
        font-size: 29px;
        font-weight: 400;
        margin-bottom: 0;
      }
      span {
        font-size: 26px;
        font-weight: 600;
      }
    }
    .case-detail {
      h3 {
        font-weight: 600;
      }
    }
  }
}
