.case-wrapper {
  margin: 25px 0;
  &.hero {
    margin-left: -4rem;
    margin-right: -4rem;
    background: #f2f5fc;
    .case-body {
      padding-right: 4rem;
      margin-top: 25px;
    }
  }
  .case-body {
    margin-bottom: 25px;
    .case-title {
      text-align: center;
      h2 {
        font-size: 29px;
        font-weight: 400;
        margin-bottom: 0;
      }
      span {
        font-size: 26px;
        font-weight: 600;
      }
    }
    .case-detail {
      h3 {
        font-weight: 600;
      }
    }
  }
}
