.map-wrapper {
  .map-buttons {
    position: absolute;
    z-index: 1;

    button {
      margin-left: 10px;
    }
  }

  .react-tooltip {
    padding: 0px;
    opacity: 1;

    .map-tooltip {
      min-width: 275px;
      margin: 0;
      background-color: #2872c6;
      color: #fff;

      h3 {
        background-color: #3e6898;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        white-space: pre-wrap;
        margin: auto;
        padding: 10px;
        text-align: center;
      }

      h4 {
        font-size: 14px;
        font-weight: 600;
        white-space: pre-wrap;
      }

      ul {
        padding: 10px;
        margin: 0;

        li {
          display: flex;
          justify-content: space-between;

          &:not(:last-child) {
            border-bottom: 1px solid #ddd;
            padding-bottom: 3px;
            margin-bottom: 3px;
          }
        }
      }
    }
  }
}
