@import "~antd/dist/antd.css";

body {
  margin: 0;
  font-family: "Gotham A", "Gotham B", Verdana, sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.layout {
  height: 100%;
}

.ant-layout-header {
  height: 64px;
  padding: 0 50px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 64px;
  background: #2872c6;
}

.ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub {
  color: #fff;
  font-weight: 600;
  background: #2872c6;
}

.ant-menu-dark .ant-menu-item,
.ant-menu-dark .ant-menu-item-group-title,
.ant-menu-dark .ant-menu-item > a,
.ant-menu-dark .ant-menu-item > span > a {
  color: rgba(255, 255, 255, 0.95);
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

.logo {
  // float: left;
  margin: 8px 24px 10px 0;
  width: 100%;
  max-width: 150px;
  max-height: 37px;
  margin-right: 25px;
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.ant-layout-content {
  background: #fff;
  padding-top: 100px;
  padding-bottom: 50px;
  min-height: calc(100vh - 72px);
}

.container {
  padding: 0 4rem;
}

.count-up-card {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  text-align: center;

  h3 {
    font-size: 26px;
    font-weight: 600;
  }

  h4 {
    font-size: 16px;
    font-weight: 500;
  }

  &.red-card {
    box-shadow: 0px 0 30px rgba(141, 1, 1, 0.08);
    color: #8d0101;

    h3,
    h4 {
      color: #8d0101;
    }
  }
}

.footer {
  text-align: center;
}

.footer.fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
}

h1.no-data {
  color: #8f8f8f;
  margin: "auto";
  width: 100%;
  margin-top: 15%;
  text-align: center;
}
